
@{
    ViewData["Title"] = "Director";
}
@model Director

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="d-flex flex-md-row">
        <div class="img-container">
            <img src="@Model.ImgPath" alt="Img" />
            <a class="btn btn-outline-warning btn-sm mt-3" asp-controller="Directors" asp-action="Edit" asp-route-id="@Model.Id">ცვლილება</a>
        </div>
        <div class="d-flex flex-column">
            <h4><strong>@Model.Name @Model.LastName</strong></h4>
            <p>Birth Date: @Model.BirthDate.ToString("dd/MM/yyyy")</p>
            <p>Rating: @Model.Rating</p>
            <label>Movies</label>
            <table>
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Budget
                        </th>
                        <th>
                            Genre
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Movies.Count > 0)
                    {
                        @foreach (var item in Model.Movies)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Budget</td>
                                @*<td>@item.Genre.Name</td>*@
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


